*.egg-info
*.mo
*.pyc
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
log.html
output.xml
report.html
selenium-screenshot-*
bin/
buildout-cache/
develop-eggs/
htmlcov/
include/
lib/
local/
parts/
src/*
!src/dexterity/
var/
